footer {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    max-width: 1200px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    footer {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
