<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Horner Junior High coding club website">
        <meta name="keywords" content="Horner,coding,club,C++,Java,Python,JavaScript,JS,CSS,HTML,Scratch,">
        <meta name="author" content="Kevin Feng">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="preload" href="/js/theme.js" as="script" type="text/javascript">
        <link rel="preload" href="/css/minimal.css/minimal_light.min.css" as="style" type="text/css">
        <link rel="preload" href="/css/minimal.css/minimal_dark.min.css" as="style" type="text/css">
        <link rel="preload" href="/css/custom.css" as="style" type="text/css">
        <link id="stylesheet" href="/css/minimal.css/minimal_light.min.css" type="text/css" rel="stylesheet">
        <link href="/css/custom.css" type="text/css" rel="stylesheet">
        <script src="/js/theme.js" type="text/javascript"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148456780-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148456780-2');
        </script>
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js" type="text/javascript" async></script>
        <style>
            * {
                transition: all 0.5s ease;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/" class="home home-container">
                <img src="/images/hornerhornet.png" class="home home-image">
                <span class="home home-text">
                    Horner Coding Club
                </span>
            </a>
            <span class="spacer"></span>
            {% block nav %}
            {% endblock %}
            <a id="theme-toggle">🌙</a>
        </nav>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <hr>
            <p>Copyright &copy; 2020 Horner Coding Club Officers and Members</p>
            <p>Site design and creation by Kevin Feng (<a href="https://hereiskevin.github.io/">HereIsKevin</a>). Powered by <a href="https://github.com/HereIsKevin/minimal.css/">minimal.css</a> with the Horner theme.
            </p>
        </footer>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script> 
        <df-messenger 
            intent="WELCOME" 
            chat-title="Coding Club" 
            agent-id="6e936ee6-74e7-4da3-b34d-40962acaffb1" 
            language-code="en" >
        </df-messenger>
    </body>
</html>
