{% extends TEMPLATE %}

{% block title %}
Horner Coding Club | Home
{% endblock %}

{% block nav %}
<a href="/projects-2019-2020.html">Old Projects</a>
{% endblock %}

{% block header %}
<h1>Welcome!</h1>
<h4>To the Horner Coding Club Website</h4>
{% endblock %}

{% block content %}
<main>
    <section>
        <h2 id="who">Who Are We</h2>
        <p>
            We are a group of young and determined programmers, creating games with a variety of technologies and tools.
        </p>
    </section>
</main>
{% endblock %}
