{% extends TEMPLATE %}

{% block title %}
Horner Coding Club | Home
{% endblock %}

{% block header %}
<h1>Welcome!</h1>
<h4>To the Horner Coding Club Website</h4>
{% endblock %}

{% block content %}
<main>
    <section>
        <h3>This is Horner Coding Club's website on GitHub Pages. The "official" site is on Google Sites.</h3>
        <hr>
    </section>
    <section>
        <h1 id="who">Who Are We</h1>
        <p>
            We are a group of young and determined programmers, creating games with a variety of technologies and tools.
        </p>
    </section>
</main>
{% endblock %}
