{% extends TEMPLATE %}

{% block title %}
Horner Coding Club | Projects
{% endblock %}

{% block nav %}
<a href="/projects-2019-2020.html" class="current">Old Projects</a>
{% endblock %}

{% block header %}
<h1>Projects From 2019-2020</h1>
<h4>Handcrafted Games and Applications Created By Our Old Members</h4>
{% endblock %}

{% block content %}
<main>
    <section>
        <h2>Kevin's Projects</h2>
        <ul>
            <li>
                GeoBounce—
                <a href="https://github.com/boredomgames/GeoBounce">GitHub</a>
            </li>
            <li>
                ReBounce (rewrite of GeoBounce, work in progress)—
                <a href="https://github.com/HereIsKevin/ReBounce">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Anand's Projects</h2>
        <ul>
            <li>
                Coin Collector—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects-2019-2020/Anand/CoinCollector%20-%20Annad.py">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Ojas's Projects</h2>
        <ul>
            <li>
                Basic Math Operations—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects-2019-2020/Ojas/BasicMathOperation%20-%20Ojas.py">GitHub</a>
                <br>
                <video controls>
                    <source src="/projects-2019-2020/Ojas/Screen Recording (4-9-2020 1-32-40 PM) - Ojas.mp4" type="video/mp4">
                    <p>
                        Sorry, your browser cannot play this video.
                        <a href="/projects-2019-2020/Ojas/Screen%20Recording%20(4-9-2020%201-32-40%20PM)%20-%20Ojas.mp4">Download</a>
                    </p>
                </video>
            </li>
        </ul>
    </section>
    <section>
        <h2>Ritika's Projects</h2>
        <ul>
            <li>
                Catch the Cheese—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects-2019-2020/Ritika/Ritika%20-%20Project:%20Catch%20The%20Cheese.js">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Erik's Projects</h2>
        <ul>
            <li>
                <a href="https://cubeshoot.netlify.app/">Cube Shoot</a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
