{% extends TEMPLATE %}

{% block title %}
Horner Coding Club | Projects
{% endblock %}

{% block nav %}
<a href="/projects.html" class="current">Projects</a>
{% endblock %}

{% block header %}
<h1>Our Projects</h1>
<h4>Handcrafted Games and Applications Created By Our Members</h4>
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Kevin's Projects</h1>
        <ul>
            <li>
                GeoBounce—
                <a href="https://github.com/boredomgames/GeoBounce">GitHub</a>
            </li>
            <li>
                ReBounce (rewrite of GeoBounce, work in progress)—
                <a href="https://github.com/HereIsKevin/ReBounce">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h1>Anand's Projects</h1>
        <ul>
            <li>
                Coin Collector—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects/Anand/CoinCollector%20-%20Annad.py">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h1>Ojas's Projects</h1>
        <ul>
            <li>
                Basic Math Operations—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects/Ojas/BasicMathOperation%20-%20Ojas.py">GitHub</a>
                <br>
                <video controls>
                    <source src="/projects/Ojas/Screen Recording (4-9-2020 1-32-40 PM) - Ojas.mp4" type="video/mp4">
                    <p>
                        Sorry, your browser cannot play this video.
                        <a href="/projects/Ojas/Screen%20Recording%20(4-9-2020%201-32-40%20PM)%20-%20Ojas.mp4">Download</a>
                    </p>
                </video>
            </li>
        </ul>
    </section>
    <section>
        <h1>Ritika's Projects</h1>
        <ul>
            <li>
                Catch the Cheese—
                <a href="https://github.com/hornercodingclub/hornercodingclub.github.io/blob/master/projects/Ritika/Ritika%20-%20Project:%20Catch%20The%20Cheese.js">GitHub</a>
            </li>
        </ul>
    </section>
    <section>
        <h1>Erik's Projects</h1>
        <ul>
            <li>
                <a href="https://cubeshoot.netlify.app/">Cube Shoot</a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
